body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.conteudo-principal {
  flex-grow: 3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.listaCategoria ul li {
  display: inline-block;
  color: #fff;
  background-color: #373f51;
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 1rem;
}

.listaCategoria-input {
  display: inline-block;
}